
section{
text-align: center;
background-image: url(https://s3.amazonaws.com/StartupStockPhotos/20140808_StartupStockPhotos/103.jpg);
height: 400px;
background-size: cover;
}

#features{
 background-image:none;
 background-color:#E62727;
 height:250px;
}
button{
color: #FFF;
background-color: #F00;
border: none;
border-radius: 3px;
padding: 5px;
margin-top: 40px;
}
.menu-selected {
 background-color: red;
}
